.page-type-donation-v2 {
    .page-header .width-container, 
    .intro.donation{
        border: none;
    }
    background: none;
    .header-container,
    footer {
        display: none;
    }
    .width-container {
        margin: 0px;
        width: 100%;
    }
    .v2-word-content {
        padding: 20px;
        padding-bottom: 0px;
    }
    .row-fluid .span6 {
        width: 100%;
    }
    .stage-label {
        color: #000;
    }
    .row-fluid [class*="span"] {
        margin-left: 0px;
    }
    .us-or-canada,
    .v2-city {
        margin-right: 9px;
    }
    .tax-info {
        color: #000;
        font-size: 15px;
        font-size: 13px;
    }
    .confirm-amount-label {
        font-weight: 400;
        color: #000;
        font-size: 17px;
    }
    .email-phone-v2,
        .city-province-postal-v2,
        .first-last-v2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            &::before, &::after{
                display: none;
            }
        }
        .email-phone-v2, .first-last-v2{
            .span6{
                width: 48%;
            }
        }
        .city-province-postal-v2 .span4{
            width: 31.3%;
        }
}


@media(min-width: 666px) {
    .page-type-donation-v2 {
        .form-wrap {
            border-radius: 10px;
            margin-bottom: 0px;
        }
        .width-container {
            max-width: 400px;
            margin-left: 10%;
        }
        .headline {
            font-size: 40px;
            line-height: 50px;
        }
    }
}

.page-type-donation-v2,
.page-type-donation {
    #page-headline-top {
        display: none;
    }
    .form-wrap {
        padding: 0px;
    }
    .donation_form .form-progress-indicator {
        background-color: #009cfb;
    }
    #donation-bg-container {
        width: 100%;
        margin: 0px;
    }
    #intro {
        font-size: 30px;
        line-height: 40px;
        color: #009cfb;
        text-align: left;
    }
    .radio-inline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        span {
            width: 29.11%;
        }
        label.radio {
            width: 100%;
        }
    }
}

@media(min-width: 768px) {
    .page-type-donation {
        .donate-box {
            max-width: 470px;
        }
        .donation-body,
        #intro {
            max-width: 80%;
            margin: auto;
        }
        .donation_form {
            background-color: white;
        }
        #donation-bg-container {
            width: 100%;
            margin: 0px;
        }
        footer {
            margin-top: 0px;
            &::before {
                display: none;
            }
        }
    }
    .page-type-donation-v2 {
        footer {
            margin-top: 0px;
            &::before {
                display: none;
            }
        }
    }.page-type-donation-v2 .page-pages-show-donation-v2-wide .radio-inline label.radio{
        width: 100%;
    }
}