.page-type-donation-v2 {
    background: none;
    .header-container,
    footer {
        display: none;
    }
    .width-container {
        margin: 0px;
        width: 100%;
    }
    .v2-word-content{
        padding: 20px;
        padding-bottom: 0px;
    }
    .row-fluid .span6{
        width: 100%;
    }
    .stage-label{
        color: #000;
    }
}

@media(min-width: 666px) {
    .page-type-donation-v2 {
       .width-container{
           max-width: 400px;
           margin-left: 10%;
       }
       .headline{
        font-size: 40px;
        line-height: 50px;
       }
    }
}

.page-type-donation-v2,
.page-type-donation {
    #page-headline-top {
        display: none;
    }
    .form-wrap {
        padding: 0px;
    }
    .donation_form .form-progress-indicator {
        background-color: #EA7658;
    }
    #donation-bg-container {
        width: 100%;
        margin: 0px;
    }
    #intro {
        font-size: 30px;
        line-height: 40px;
        color: #009cfb;
        text-align: left;
    }
    .radio-inline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        span {
            width: 29.11%;
        }
        label.radio {
            width: 100%;
        }
    }
}

@media(min-width: 768px) {
    .page-type-donation {
        .donate-box {
            max-width: 470px;
        }
        .donation-body,
        #intro {
            max-width: 80%;
            margin: auto;
        }
        .donation_form {
            background-color: white;
        }
        #donation-bg-container {
            width: 100%;
            margin: 0px;
        }
        footer {
            margin-top: 0px;
            &::before {
                display: none;
            }
        }
    }
    .page-type-donation-v2 {
        footer {
            margin-top: 0px;
            &::before {
                display: none;
            }
        }
    }
}