.page-pages-show-donation-v2-wide, .page-pages-show-donation-wide {
  .donation_form .form-wrap {
    margin-bottom: 1.25em;
    margin-top: 0;
    padding-top: 0;
  }
  .progress{
    background-color: lightgrey;
  }
  .progress .bar {
    color: $grey;
  }
  .bar-goal{
    color: $blue;
  }
  /*.form-progress-indicator {
    width: 130%;
    left: -15%;
    position: relative;
  }*/
  .progress-indicator-stages {
    list-style-type: none;
    padding: 0 0 15px 0;
    margin: 0 auto;
    width: auto;
    text-align: center;
    li {
      display: inline-block;
      position: relative;
      margin-right: 32px;
      white-space: nowrap;
      width: 51px;
      &:after {
        content: " ";
        width: 42px;
        height: 0;
        border-bottom: 1px solid #ccc;
        position: absolute;
        top: 53px;
        left: 45px;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      .stage-label {
        font-size: 12px;
        font-weight: 600;
        position: relative;
        colour: #ccc;
        font-weight: 500;
      }
      &.stage-1 .stage-label {
        left: -1px;
      }
      &.stage-2 .stage-label {
        left: -8px;
      }
      &.stage-3 .stage-label {
        left: -3px;
      }
      .stage-count {
        position: relative;
        display: block;
        color: #fff;
        width: 47px;
        height: 47px;
        text-align: center;
        @include border-radius(99px);
        font-weight: 700;
        font-size: 14px;
      }
      .stage-count-inner {
        width: 39px;
        height: 39px;
        left: 3px;
        top: 3px;
        line-height: 40px;
        display: block;
        position: relative;
        background: #ccc;
        position: relative;
        @include border-radius(99px);
      }
      &.active .stage-count-inner {
        background: $navy;
      }
      &.seen .stage-count-inner {
        background: $navy;
        cursor: pointer;
      }
      &.completed .stage-count-inner {
        text-indent: -9999px;
        background: $green;
        cursor:pointer;
        &:before {
          color: #fff;
          position: absolute;
          width: 39px;
          line-height: 39px;
          z-index: 20;
          opacity: 1;
          text-align: center;
          top: 0;
          left: -3px;
          font-size: 1.25em;
          cursor: pointer;
          text-indent: 0;
        }
      }
      &.completed .stage-count {
        cursor: pointer;
      }
    }
  }
  .progress-stages {
    padding: 20px 0 0 0;
    text-align: center;
    .progress-stage {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .progress-stage-button-prev {
    display: block;
    margin-top: .5em;
    font-family: $button-font;
    font-size: 11px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $navy;
    text-transform: uppercase;
    &:before {
      content:"\00ab\0000a0";
    }
  }
  label.checkbox{
    text-align: left;
  }
  .radio-inline {
    input[type="radio"] {
      display: none;
    }
    label.radio {
      background-color: $green;
      color: white;
      display: inline-block;
      width: 47%;
      padding: 15px 5px;
      font-family: $button-font;
      font-weight: 500;
      font-size: 19px;
      text-align: center;
      margin: 5px 5px 10px 0;
    }
    input[type="radio"]:checked+label {
      background-color: $theme-color-1;
      color: #fff;
    }
  }
}

.lt-ie9 .progress-indicator-stages li.stage-3:after {
  display:none;
}

#donation_billing_address_state {
  width: 100%;
}

label[for="donation_card_expires_on"] {
  text-align: left;
}
#donation_card_expires_on_1i, #donation_card_expires_on_2i {
  width: 49%;
  display: inline-block;
}

.donation-header{
  .headline{
    font-size: 24px;
    line-height: 30px;
  }
  &.pic-included {
    .candidate-image{
      width: 72px;
      height: 72px;
      @include border-radius(72px);
      overflow: hidden;
      float: left;
      margin-right: 10px;
    }
    .headline{
      padding-left: 82px;
    }
  }
}

.form-error {
  font-size: 12px;
  line-height: 14px;
  color: $red;
  margin: 0 0 5px 0;
}
